<table class="ui green striped table">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <div class="ui segment">
        <div class="ui active inverted dimmer">
          <div class="ui medium text loader">Loading</div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </tr>
  </tbody>
</table>
<!-- 
<table class="ui green striped table">
  <thead>
    <tr>
      <th *ngFor="let headline of table_columns">{{headline.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks$;let i = index">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
    </tr>
  </tbody>
</table> -->