<div (click)="onDismissClick()" class="ui dimmer visible active">
  <!-- Below code is really important when trying to stop event bubbleing  -->
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="onDismissClick()" class="close icon"></i>
    <div class="header">
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="content">
      <ng-content select="[content]"></ng-content>
    </div>
    <div class="actions">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>