<h1>تسجيل جديد</h1>
<h3>قم بالتسجيل لنتائج بحثية افضل</h3>
<form class="ui form" [formGroup]="authForm">
    <app-input label="الاسم الاول" [control]="authForm.get('firstname')" placeholder="الاسم الاول" type="text"></app-input>
    <app-input label="الاسم الاخير" [control]="authForm.get('lastname')" placeholder="الاسم الاخير" type="text"></app-input>
    <app-input label="رقم الجوال" [control]="authForm.get('phonenumber')" placeholder="رقم الجوال"
        type="number"></app-input>
    <app-input label="البريد الالكتروني" [control]="authForm.get('email')" placeholder="البريد الالكتروني"
        type="email"></app-input>
    <app-input label="كلمة المرور" [control]="authForm.get('password')" placeholder="كلمة المرور"
        type="password"></app-input>
    <app-input label="تأكيد كلمة المرور" [control]="authForm.get('passwordConfirmation')" placeholder="تأكيد كلمة المرور"
        type="password"></app-input>
    <!-- TODO: setup and configure checkbox functionality -->
    <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>أوافق على الشروط والأحكام</label>
    </div>
    <button class="ui submit green button " type="submit">تسجيل</button>
    </form>

    
<!-- {{authForm.value | json}}
==========
{{authForm.errors| json}}
==========
{{authForm.get('firstname')?.errors | json}}
==========
{{authForm.get('email')?.errors | json}}
==========
{{authForm.get('password')?.errors | json}}
==========
{{authForm.get('passwordConfirmation')?.errors | json}} -->