<div class="field" [ngClass]="control.invalid && showErrors() ? 'error' : ''">
    <label>{{label}}</label>
    <input [formControl]="control" [placeholder]="placeholder" [type]="type" />
    <div *ngIf="showErrors()" class="ui pointing red basic label">
        <p *ngIf="control.errors['required']">
            هذا الحقل مطلوب
        </p>
        <p *ngIf="control.errors['minlength']">
            الحد الأدنى للحروف هو {{control.errors['minlength'].requiredLength}}
        </p>
        <p *ngIf="control.errors['maxlength']">
            الحد الأقصى للحروف هو {{control.errors['maxlength'].requiredLength}}
        </p>
        <p *ngIf="control.errors['pattern']">
            البريد الالكتروني الذي تم ادخاله غير صالح
        </p>
        <p *ngIf="control.errors['notEmailUnique']">
            هذا البريد الالكتروني مستخدم من قبل
        </p>
    </div>
</div>