<h3>sign in</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <app-input [control]="authForm.get('email')" placeholder="البريد الالكتروني" type="email">
        ></app-input>
    <app-input [control]="authForm.get('password')" placeholder="كلمة المرور" type="password">
        ></app-input>
    <div *ngIf="authForm.errors" class="ui red pointing label">
        <p *ngIf="authForm.errors.credentials">
            البريد الالكتروني او كلمة المرور غير صحيحة
        </p>
        <p *ngIf="authForm.errors['noConnection']">
            عفوا, يرجى التحقق من اتصال الانترنت
        </p>
        <p *ngIf="authForm.errors['unknownError']">
            خطأ غير متوقع
        </p>
    </div>
    <button class="ui green button" type="submit">تسجيل</button>
</form>